/*
****************
** ANIMATIONS **
****************
*/

.highlight{
   opacity: 1 !important;
}
.fade-out{
   opacity: 0 !important;
}
.fade-in{
   opacity: 1 !important;
}
.slide-down-light{
   transform: translateY(25px) !important;
}
.slide-down-strong{
   transform: translateY(50px) !important;
}
.slide-up-light{
   transform: translateY(-25px) !important;
}
.slide-up-strong{
   transform: translateY(-50px) !important;
}
.fast-transition{
   transition: .2s all !important;
}
.wipe{
   animation: wipe .8s ease;
}
@keyframes wipe {
   0%{
      transform: translateX(-131vw);
   }
   60%{
      transform: translateX(0vw);
   }
   100%{
      transform: translateX(131vw);
   }
}
.dawn-flex{
   display: flex !important;
}
.dusk{
   display: none !important;
}
