/*
**************************
** FORM INPUT ANIMATION **
**************************
*/

/*** SIGNIN LOGIN ***/

#signin-login{
   margin: 0 0 0 0;
}
#signin-login:focus ~ #signin-login-bar::before, #signin-login:focus ~ #signin-login-bar::after{
   width: 50%;
}
#signin-login:focus ~ #signin-login-label{
   top: -110px;
   left: -229px;
   font-size: 1.5em;
   transition: .2s all;
}
#signin-login-label{
   top: -100px;
   left: -205px;
}
.signin-login-filled{
   top: -110px;
   left: -229px !important;
   font-size: 1.5em !important;
}

/*** SIGNIN PASSWORD ***/

#signin-password{
   margin: 0 0 0 0;
}
#signin-password:focus ~ #signin-password-bar::before, #signin-password:focus ~ #signin-password-bar::after{
   width: 50%;
}
#signin-password:focus ~ #signin-password-label{
   top: -109px;
   left: -211px;
   font-size: 1.5em;
   transition: .2s all;
}
#signin-password-label{
    top: -99px;
    left: -170px;
}
.signin-password-filled{
   top: -109px;
   left: -211px !important;
   font-size: 1.5em !important;
}

/*** SIGNUP LOGIN ***/

#signup-login{
   margin: 0 0 0 0;
}
#signup-login:focus ~ #signup-login-bar::before, #signup-login:focus ~ #signup-login-bar::after{
   width: 50%;
}
#signup-login:focus ~ #signup-login-label{
   top: -110px;
   left: -229px;
   font-size: 1.5em;
   transition: .2s all;
}
#signup-login-label{
   top: -100px;
   left: -205px;
}
.signup-login-filled{
   top: -110px;
   left: -229px !important;
   font-size: 1.5em !important;
}

/*** SIGNUP PASSWORD ***/

#signup-password{
   margin: 0 0 0 0;
}
#signup-password:focus ~ #signup-password-bar::before, #signup-password:focus ~ #signup-password-bar::after{
   width: 50%;
}
#signup-password:focus ~ #signup-password-label{
   top: -109px;
   left: -211px;
   font-size: 1.5em;
   transition: .2s all;
}
#signup-password-label{
   top: -99px;
   left: -170px;
}
.signup-password-filled{
   top: -109px;
   left: -211px !important;
   font-size: 1.5em !important;
}

/*** SIGNUP CONFIRM PASSWORD ***/

#signup-confirm-password{
   margin: 0 0 0 0;
}
#signup-confirm-password:focus ~ #signup-confirm-password-bar::before, #signup-confirm-password:focus ~ #signup-confirm-password-bar::after{
   width: 50%;
}
#signup-confirm-password:focus ~ #signup-confirm-password-label{
   top: -109px;
   left: -175px;
   font-size: 1.5em;
   transition: .2s all;
}
#signup-confirm-password-label{
   top: -99px;
   left: -101px;
}
.signup-confirm-password-filled{
   top: -109px;
   left: -175px !important;
   font-size: 1.5em !important;
}

/*****************/

.input-label{
   position: relative;
   color: rgba(255, 255, 255, 0.5);
   font-family: "Saira Condensed", sans-serif;
   font-size: 3em;
   z-index: -1;
   transition: .2s all;
}
.expand::before, .expand::after{
   width: 50% !important;
}
.bar{
    position: relative;
    width: 100%;
    display: block;
    margin: 0 0 0 0;
}
.bar::before, .bar::after{
    content: '';
    height: 3px;
    width:0;
    bottom: 0;
    position: absolute;
    background-color: rgba(250, 214, 0, 0.7);
    transition: .2s all ease;
}
.bar::before{
    left: 50%;
}
.bar::after{
    right: 50%;
}
