*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
body{
   overflow-x: hidden;
}
.center-content{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}
#main-container{
   width: 100vw; height: 100vh;
   background: url('../../images/background.jpeg');
}
      #wiper-screen{
         position: absolute;
         width: 130vw; height: 100%;
         background: rgba(255,255,255,1);
         transform: translateX(-151vw);
         z-index: 99;
         transition: .4s all ease;
      }
      .connection-tile{
         opacity: 0.85;
         position: absolute;
         width: 45%; height: 100%;
         flex-direction: row !important;
         cursor: pointer;
         z-index: 9;
         transition: .4s all ease;
      }
            #back-text{
               font-family: "Saira Condensed", sans-serif;
               font-size: 1.5em;
               text-transform: uppercase;
            }
            .front-container{
               position: absolute;
               opacity: 0.5;
               margin: -50px 0 0 0;
               color: #fad600;
               font-family: "Saira Condensed", sans-serif;
               font-size: 2em;
               text-transform: uppercase;
               z-index: 9;
               transition: .4s all;
            }
            .connection-tile:hover > .front-container{
               opacity: 1;
            }
                  .main-icon-text{
                  }
      #reset{
         position: absolute;
         width: 10%; height: 100%;
         background: rgba(255,255,255,0.8);
         cursor: pointer;
         transition: .2s all;
      }
            #back-icon-container{
               top: 0;
               height: 20%; width: 100%;
            }
                  #back-icon{
                     font-size: 4em;
                  }
            #dots-container{
               height: 65%; width: 100%;
            }
                  .dot{
                     width: 25px; height: 25px;
                     border: 2px solid black;
                     border-radius: 50%;
                     margin: 0 0 2.5% 0;
                  }
                  #moving-dot{
                     position: relative;
                     width: 80% !important; height: 80% !important;
                     top: 2px; left: 2px;
                     background: black;
                     border-radius: 50%;
                     transform: translateY(0);
                     transition: .4s all;
                  }
      .connection-tile-form{
         position: absolute;
         display: none !important;
         margin: 75px 0 0 0;
         transform: translateY(25px);
         opacity: 0;
         z-index: 999;
         transition: .7s all;
      }
      input{
         background: none;
         border: none;
         font-size: 3em;
         color: rgba(255,255,255,0.8);
         font-family: "Saira Condensed", sans-serif;
         margin: -40px 0 0 0;
      }
      input[type="text"], input[type="password"]{
         border-bottom: 1px solid rgba(250, 214, 0, 0.5);
         transition: .2s all;
      }
      input[type="text"]:focus, input[type="password"]:focus{
         transition: .5s all;
      }
      input[type="submit"]{
         cursor: pointer;
         color: #fad600;
      }
      .form-warning-message{
         position: relative;
         opacity: 0;
         clear: both;
         top: -25px;
         font-family: "Saira Condensed", sans-serif;
         color: #fad600;
      }
      .login-warning-message{
         left: -175px;
      }
      .password-warning-message{
         left: -133px;
      }
      .confirm-password-warning-message{
         left: -172px;
      }
      #signin{
         left: 10%;
         background: #191919;
      }
            #signin-form{

            }
                  #signin-login-warning-message-container{

                  }
                  #signin-password-warning-message-container{

                  }
      #signup{
         right: 0;
         background: #282828;
      }
            #signup-form{

            }
                  .submit-button{
                     margin: 0;
                     transition: .5s all;
                  }
      .main-icon{
         margin: 0 0 20px 0;
         font-size: 4em !important;
      }
      .secondary-icon-container{
         position: absolute;
         display: inline;
         margin: 3% 0 0 0;
         opacity: 0;
         color: #fad600;
         font-size: 4em;
         align-self: flex-start;
         transform: translateY(-20px);
         transition: .5s all;
      }
            .secondary-icon{
               position: relative;
            }
            #signin-secondary-icon{
               left: 0;
            }
            #signup-secondary-icon{
               left: 0px;
            }
            #signup-secondary-icon-plus{
               position: absolute;
               font-size: 24px !important;
               right: -13px;
               top: 0;
            }
      #signup-front-container{
         display: inline;
      }
            #signup-main-icon-plus{
               position: absolute;
               top: -10px;
               right: -30px;
               font-size: 2em !important;
            }

      .tile-top-label{
         position: absolute;
         font-size: 3em;
         color: #fad600;
         font-family: "Saira Condensed", sans-serif;
         text-transform: uppercase;
         opacity: 0;
         top: 0;
         left: 50px;
         transition: .4s all;
      }
